html,body {
    background-color: lightsteelblue;
  }

.Heading1 {
  font: 30px Arial, sans-serif;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
  background-color: #ffff;
  width: 275px;
}

.box {
  font: 15px Arial, sans-serif;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
  background-color: white;
  width: 500px;
  height: 330px;
}


.skibidi img {
  width: 50%;
  height: auto;
  border-radius: 20px;

  position: relative;
  left: 600px;
  top: -425px;
}